{% extends 'funcionario/base.html' %}

{% block content %}

<div class="row pt-3 m-3">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">

    {% if Usuario %}
    <h3>Paciente: {{Usuario.nombre}} {{Usuario.apellido}}</h3>
    <h4>Edad: {{Usuario.edad}} Sexo: {{Usuario.sexo_biologico}} Rut: {{Usuario.rut}} id: {{Usuario.id}}</h4>

    {% else %}

    <p>No hay pacientes registrados!</p>

    {% endif %}
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row pt-3 m-3">
  <div class="col-sm-4"></div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <h4>Nuevo Comentario</h4>
      <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
{% endblock %}